h1,
h2,
h3,
span {
  margin: 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.4rem;
}
span {
  font-size: 6rem;
}
body{
  background-image: linear-gradient( #80e5ff,#4ddbff, #00ccff, #66ffff
  , #b3ffff,#ccffff, #99ebff,#33d6ff, #b3f0ff, #4ddbff);
  font-family: sans-serif;
}
#location{
  float: right;
  width: 50px;
  height: 70px;
  background: none;
  border-radius: 100%;
}
.container {
  max-width: 500px;
  height: 50vh;
  border: 1px solid black;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 20% 80%;
  text-align: center;
  padding: 25px 5px;

}
.degrees {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-left: 2rem;
  font-size: 1rem;
}

.tabset
{
    overflow: hidden;
    margin: 0 0 -1px;
    padding: 0;
    list-style: none;
    position: relative;
}
.tabset li
{
    float: left;
}
.tabset a
{
    color: #000;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #aaa;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    display: block;
}
.tabset a.active
{
    border-bottom: 1px solid #fff;
}
*/*.tab-hold
{
    border: 1px solid #aaa;
    padding: 15px;
}*/
p
{
    margin: 0;
}
/*////////////////////////////////////////////////////////////////////////////////*/
* {
  box-sizing: border-box;
}

/* Style the body */
/* body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
} */

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1a95bc0a;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 870%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
 /* background-image: url('./weather/pexels-photo.jpeg');*/
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
      flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
      float: none;
      width: 100%;
  }
}